<p>
  This is a simple HTTP client that let' you easily send requests that already ship with your <code>access_token</code>.
  Note that the HTTP server in question must explicitly accept requests originated from <code>{{this.router.url}}</code>
  or must accept requests from anywhere (not advised).
</p>

<p>You can change the HTTP method and URL. You can also define a body.</p>

<div class="http-server">
  <select #method (change)="changeMethod(method.value)">
    <option value="get" selected>Get</option>
    <option value="post">Post</option>
    <option value="put">Put</option>
    <option value="delete">Delete</option>
  </select>
  <input [(ngModel)]="req.url" type="text">
  <button class="btn btn-success" (click)="sendRequest()">Send</button>
</div>

<div class="http-response" *ngIf="this.req.response">
  {{this.req.response | json}}
</div>
