<p>
  This is a simple HTTP client that lets you easily send requests that already ships with your <code>access_token</code>.
  Note that the targeted HTTP server must explicitly accept requests originated from <code>{{document.location.origin}}</code>
  or must accept requests from anywhere (not advised).
</p>

<p>Before issuing the request, you can change the HTTP method and URL. You can also define a body when <code>POST</code>
  or <code>PUT</code> is the selected method.</p>

<div class="http-server">
  <select #method (change)="changeMethod(method.value)">
    <option value="get">Get</option>
    <option value="post" selected>Post</option>
    <option value="put">Put</option>
    <option value="delete">Delete</option>
  </select>
  <input [(ngModel)]="req.url" type="text">
  <button class="btn btn-success" (click)="sendRequest()">Send</button>
</div>

<div class="req-res-box-container" *ngIf="this.req.method === 'post' || this.req.method === 'put'">
  <label for="req-body">Request Body:</label>
  <textarea id="req-body" [(ngModel)]="req.body" class="req-res-box request-body"></textarea>
</div>

<div class="req-res-box-container" *ngIf="this.req.method === 'post' || this.req.method === 'put'">
  <label for="req-type">Request Body:</label>
  <input id="req-type" type="text" [(ngModel)]="req.contentType">
</div>

<div class="req-res-box-container" *ngIf="this.req.response">
  <label for="req-body">Request Response:</label>
  <div class="req-res-box">{{this.req.response | json}}</div>
</div>

<div class="current-settings">
  The <code>access_token</code> in the current section contains the following <code>scope</code>:
  <code>{{scope}}</code>. To change it, <a (click)="signOut()">sign out</a>, and issue a new token.
</div>
